@import "bower_components/animate-functions.sass/animate-functions";

/****************************************
* RESET
****************************************/
*, :before, :after {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input, select, button, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font: inherit;
  color: inherit;
}

/****************************************
* GENERAL STYLE
****************************************/
html {
  font: 100%/1.5 'Titillium Web', sans-serif;;
  color: #4d444c;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  text-align: center;
}

@media (min-width: 650px) {
  html {
    height: 100%;
  }

  html:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  body {
    display: inline-block;
    vertical-align: middle;
    max-width: 38rem;
  }
}

body{
  overflow-x: hidden;
}

.container {
  padding: 1rem;
}

/****************************************
* TYPOGRAPHY
****************************************/
h1 {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
  letter-spacing: -.05em;
}

h2{
  margin-bottom: .75rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}

p,
hr,
form {
  margin-bottom: 1.5rem;
}

hr {
  border: none;
  margin-top: -1px;
  height: 1px;
  background-color: #c0c8c9;
  background-image: -webkit-linear-gradient(0deg, #fff, #c0c8c9, #fff);
}

a {
  color: inherit;
  text-decoration: underline;
  &:hover {
    color: #CF649A;
  }
}

h3,
p,
pre,
h2,
ul,
li{
  text-align: left;
}

ul{
  padding-left: 18px;
}

pre.prettyprint{
  margin: 1em 0 !important;
  width: 100% !important;
}

.centred{
  text-align: center;
}

/****************************************
* OBJECTS
****************************************/
.button, .input {
  padding: .75rem;
  margin: .375rem;
  background-color: transparent;
  border-radius: 4px;

  &:focus{
    outline: none;
  }

}

.button {
  border: 2px solid #CF649A;
  line-height: 1.375;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: bold;
  color: #CF649A;
  cursor: pointer;

  &--primary {
    background-color: #CF649A;
    color: #fff;
  }

}

.input {
  border: 1px solid #c0c8c9;
  border-radius: 4px;

  &--dropdown {
    background-image: url("images/ddown.png");
    background-image: url("images/ddown.svg?3"), none;
    background-repeat: no-repeat;
    background-size: 1.5rem 1rem;
    background-position: right center;
  }

}

/****************************************
* Header
****************************************/
.header {
  padding-top: 50px;
  padding-bottom: 50px;
  @include af-bounceInUp();

  &__title {
    color: #CF649A;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -moz-linear-gradient(top,  #CF649A 0%, #cf9ab7 41%, #cfaabe 100%); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(top,  #CF649A 0%,#CF9AB7 41%,#CFAABE 100%); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to bottom,  #CF649A 0%,#CF9AB7 41%,#CFAABE 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    font-size: 2rem;
    margin: 2rem 0;

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 375px) {
      font-size: 2.4rem;
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
      font-size: 3.5rem;
    }

  }

  &__subtitle {
    margin-bottom: .75rem;
    color: #cfbbc3;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1;

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 375px) {
      font-size: 1.4rem;
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
      font-size: 2rem;
    }

  }

}

.site__content {
  @include af-bounceInUp();
}

.site__content form {
  @include af-bounceInUp();
}
